@{
    ViewBag.Title = "Contact";
}
<h2>Integrantes</h2>
<h3>Informacion</h3>


<address>
   <strong>Nombre:</strong> Daniel Alejandro Orellana Velasquez<br/>
    <strong>Carnet:</strong> OV201714<br/>
    <strong>Facebook:</strong> <a href="https://www.facebook.com/Edavz95/">Alejandro Velasquez</a><br/>
    <strong>Correo:</strong>   <a href="mailto:danyorellana1998@hotmail.com">danyorellana1998@hotmail.com</a><br/>
</address>

