@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <style></style>
    <h1>Bienvenidos Empleados</h1>
    <p class="lead">En esta pagina podran llevar un registro de las horas trabajadas acumulador, para saber su respectivo pago.</p>
    
</div>

