@model Proyecto_Veterinaria.Models.SalarioEmpleado
@{
    ViewBag.Title = "Salario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white;">Salario</h2>

<h4 style="color:white;">Empleado: @Model.Nombre</h4style="color:white;">
<h4 style="color:white;">Horas normales: @Model.Horas</h4style="color:white;">
<h4 style="color:white;">Horas normales: @Model.HorasExtra</h4>
<h4 style="color:white;">Salario: @Model.Salario.ToString("C2")</h4>



