@model Proyecto_Veterinaria.Models.SalarioEmpleado
@{
    ViewBag.Title = "Salario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Salario</h2>

<h4>@Model.Nombre</h4>>
<h4>@Model.Horario</h4>
<h4>@Model.Salario</h4>



